@import "tailwind.css";

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap");

body {
  @apply font-poppins;
}

.swiper1-pagination {
  height: 4px;
  background-color: #ffffff;
  opacity: 0.5;
  cursor: pointer;
}
.swiper1-paginationActive {
  height: 4px;
  background-color: #4361ee;
  opacity: 1 !important;
}

.swiper2-pagination {
  height: 4px;
  background-color: #ffffff;
  opacity: 0.5;
  cursor: pointer;
}
.swiper2-paginationActive {
  height: 4px;
  background-color: #ffffff;
  opacity: 1 !important;
}

.swiper3-pagination {
  height: 4px;
  width: 2rem !important;
  background-color: #aaaaaa;
  opacity: 0.5;
  cursor: pointer;
}
.swiper3-paginationActive {
  height: 4px;
  background-color: #808080;
  opacity: 1 !important;
}
